$page-width: 800px;

body, html, #__next {
  height: 100%;
}

body {
  font-family: Algerian;
  background: #eee;
}

nav {
  margin: 0 auto;
  width: $page-width;
}

main {
  background: #fff;
  margin: 0 auto;
  min-height: 100%;
  padding: 10px 7px;
  width: $page-width;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th.narrow {
  width: 50px;
}

td {
  min-width: 40px;
  padding: 2px 5px;
}

.coach {
  background: #eee;
}

.today {
  float: right;
  width: 150px;
}

@media print {

  button {
    display: none;
  }
}

$font-size: 50px;
.example {
  font-size: $font-size;
}